@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@600&display=swap');

body {
    background:black;
    color:rgba(255,255,255,0.8)
    padding:0;
    margin:0;
    font-family:"IBM Plex Mono", arial;
}


#timer{
    color:rgba(255,255,255,0.8);
    text-align:center;
    font-size:30vw;
    margin-top:10vh;
    

}

.almostDone {
    background:rgb(255, 213, 0);
    color:rgba(0,0,0,0.8)
}

.timesUp {
    background:rgb(255, 0, 0)!important;
    color:rgba(255,255,255,0.8)!important;
    
    
}

.timesUp #timer {
    padding-top:18vh;
    font-size:15vw;
    text-transform:uppercase;
}